<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <%- include('partial/headerLinks.ejs') %> 
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

   <%-include('partial/header.ejs') %> 

    <%- include('partial/jumbo.ejs')  %> 


    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        

                       <% if(data){%>
                            <%data.forEach(article=>{%>
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        <%let imgElem;%>
                                        <%if(article.image_name){%>
                                            <% imgElem = `<img class="card-img rounded-0" src='uploads/coverPhotos/${article.image_name}' >`;%>
                                        <%}else{
                                            imgElem = `<img style='max-width: 400px; margin: auto;' class="card-img rounded-0" src='uploads/coverPhotos/kisspng-computer-icons-youtube-play-button-clip-art-icon-png-play-button-5ab11134231fe7.2731344115215537161439.png'  alt= 'video'>`
                                        } %>
                                        <%- imgElem %>
                                        <a href="/<%= article.video ? 'courses' : 'blog'  %>/post/<%=article.video ? 'x' + article.id : article.id%>" class="blog_item_date">
                                            <h3><%=new Date(article.date).getDate()%></h3>
                                            <p><%= new Date(article.date).toString().split(' ')[1]%></p>
                                        </a>
                                    </div>
        
                                    <div class="blog_details">
                                        <a class="d-inline-block" href="/<%= article.video ? 'courses' : 'blog'  %>/post/<%=article.video ? 'x' + article.id : article.id%>">
                                            <h2 class="myh2"><%= article.heading%></h2>
                                        </a>
                                        <%- article.content%>
                                       
                                    </div>
                                </article>
                            <%})%>
                       <%}%>

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">

                                <% const [blogPostCount, videoUploadCount] = totalPost;%>
                                    <% if(blogPostCount > 3 || videoUploadCount > 3){%>

                                        <% const total = blogPostCount + videoUploadCount%>
                                        <% const pages = Math.floor(total / 3) %>

                                         <li class="page-item">
                                            <a href="/<%= data[0].video ? 'courses' : 'blog' %>/posts/<%=currentPage <= 1 ? 1 : Number(currentPage) - 1%>" class="page-link" aria-label="Previous">
                                                <i class="ti-angle-left"></i>
                                            </a>
                                        </li>
                                        <% for(let page = 1; page <= pages ; page++){%>
                                            <li class="page-item">
                                                <a href="/<%= data[0].video ? 'courses' : 'blog' %>/posts/<%=Number(page) + 1%>" class="page-link"><%=page + 1%></a>
                                            </li>
                                        <%}%>
                                        <li class="page-item">
                                            <a href="/<%= data[0].video ? 'courses' : 'blog' %>/posts/<%=Number(currentPage) + 1%>" class="page-link" aria-label="Next">
                                                <i class="ti-angle-right"></i>
                                            </a>
                                        </li>
                                    <%}%>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                       
                        <%- include('partial/latest')  %> 


                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

    <!-- footer_start  -->
    <footer class="footer">
        
        <%- include('partial/footer.ejs') %> 
    <!-- footer_end  -->
<%- include('partial/donationAccount.ejs') %> 
    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>
    <script>
        $('.datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-calendar"></span>'
            }
        });

        $('.timepicker').timepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-clock-o"></span>'
            }
        });
    $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
    </script>
<%- include('partial/donationAccount.ejs') %> 

</body>
</html>