<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Projects</title>
    <%- include('partial/headerLinks.ejs') %> 
</head>
<body>
    
<%- include('partial/header.ejs') %> 
<%- include('partial/jumbo-projects.ejs') %> 
<div class="container">
   <p style="margin: 5rem 0; font-size: 18px;">
    Skill acquisition and workshop to empower young people for entrepreneurship and career development <br>
    Poverty eradication is one of the core drivers underlying Jesus-Cares’ initiatives to further alleviate the sufferings and plight of the vulnerable of society, who live below $1.25 per capita income. <br> Research has shown that the 2020 COVID-19 pandemic has pushed over 71 million people across the globe into extreme poverty, because of the loss of jobs due to the lockdown. Also, the advent of the pandemic has accelerated the 4th industrial revolution, thereby making a lot of jobs of the present, as well as past, obsolete. <br> However, through our initiatives, we are launching a social entrepreneurship program aimed contributing the global movement towards eradicating extreme poverty of people living in the third world countries. <br> Our social entrepreneurship programs will incorporate entrepreneurship trainings and workshops to empower vulnerable persons in the south-eastern states of Nigeria, especially the young people, with the requisite and in-demand skill of the new normal in the digital economy. These initiatives will also include young people with diverse forms of disabilities. <br> They will be empowered to develop their careers, ultimately to live better lives and in turn, help other members of society benefit from their empowerment.
   </p>
</div>
   
<%- include('partial/donationAccount.ejs') %> 
<%- include('partial/footer.ejs') %> 
</body>
</html>